body {
  margin: 0;
  padding: 20px;
}
#root {
  width: 100%;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0 0 20px;
}
.loginForm {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.App button {
  margin: 0 auto;
  display: block;
}
.loginForm > div {
  text-align: center;
}
.loginForm div {
  text-align: left;
}
.loginForm h3 {
  margin: 0 auto 10px;
  width: max-content;
}
.App form {
  text-align: left;
}
.loginForm input {
  box-sizing: border-box;
}
.App input,
.App textarea {
  box-sizing: border-box;
}
.memoList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.memoList li {
  text-align: left;
}
.loginButton {
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: max-content;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
}
